*,
*::before,
*::after {
 box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #ffffff;
   overflow-x: hidden;
}

.page-wrapper {
  background-image: url('./images/backgroundImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* stay put and wont change while scrolling */
  min-height: 100%;
}
/* NAVBAR */
.navbar {
  width: 100%;
  background: #ffffff;

  position: sticky;
  top: 0;
  z-index: 1000;

  border-bottom: 1px solid #e5e7eb;

  padding: 16px 100px; 
}

/* INNER CONTENT */
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1240px;
  height: 45px;

  margin: 0 auto; /* center */
}

/* LOGO */
.logo img {
width:109px;
  height: 45px;
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* medium */
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.006em;

  color: #262A2E;
  text-decoration: none;
}
/* DROPDOWN */
.dropdown {
  position: relative;
}

.dropbtn {
  cursor: pointer;
}

/* HIDDEN MENU */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;

  background: #fff;
  min-width: 180px;

  border: 1px solid #e5e7eb;
  border-radius: 8px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  overflow: hidden;
}

/* LINKS */
.dropdown-content a {
  display: block;
  padding: 12px 16px;
  color: #111;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: #f5f5f5;
}

/* SHOW ON HOVER */
.dropdown:hover .dropdown-content {
  display: block;
}
.contact-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  gap: 4px;              
  padding: 10px 16px;    /*  padding */

  height: 44px;          /*  height */
  width: auto;           /* hug content */

  background: #2B3990;
  color: #ffffff !important; /*helps to get the colour*/
  text-decoration: none;

  border-radius: 8px;
  border: none;

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  white-space: nowrap;   /*helps to keep content in one line*/
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: #1e2a7a;
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto; /* center */

  padding: 0 20px; /* mobile spacing */
}
.image-container {
  width: 100%;
  max-width: 570px;

  border-radius: 24px;
  border: 12px;
  border: 3px solid #f1f1f1;
  background: #fff;

  position: relative;
  overflow: hidden;

  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.image-container img {
  width: 100%;
  height: auto;
  display: block;

  object-fit: cover;
}
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;

  width: 44px;
  height: 44px;

  border-radius: 50%; /*  makes it circle */
  border: none;

  background: #FFFFFF;
  color: #4D545C;
  

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  cursor: pointer;

  transition: all 0.3s ease;
}

.arrow.left {
  left: 12px;
}

.arrow.right {
  right: 12px;
}
.arrow:hover {
  background: #f4f5f7;
  transform: translateY(-50%) scale(1.1);
}
.arrow {
  backdrop-filter: blur(6px);
}
.image-container img:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
/* THUMBNAILS CONTAINER */
.thumbnails {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

/* EACH THUMB */
.thumb {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  border: 1px solid #ffffff;
  opacity: 0.7;
  transition: all 0.2s ease;
}

/* ACTIVE IMAGE */
.thumb.active {
  border: 2px solid #000;
  box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
}
/* HOVER EFFECT */
.thumb:hover {
  opacity: 1;
  transform: scale(1.05);
  box-shadow: 0px 6px 16px rgba(88, 92, 95, 0.3);

}
 .hero {
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 100px 0;
  gap: 80px;
  
  border-top: 1px solid #e5e7eb;

  /* BACKGROUND */
background-image: url('./images/backgroundImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
 }


.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  opacity: 0.3;
  background: rgba(255, 255, 255, 0.9);
}

.hero > .container {
  position: relative;
  z-index: 1;
}
.hero-layout {
  display: flex;
  gap: 40px;
}
/* BADGE TEXT */
.badge span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;        
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;      
  color: #374151;          
}
.badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  justify-content: flext-end;
  padding: 4px 10px;
  border-radius: 6px;
  flex-wrap: wrap;
  white-space: nowrap;
  background: #f3f4f6; 
}

.badge img {
  width: 16px;
  height: 16px;
}
.badges {
  display: flex;
  flex-direction: row;   /* makes it horizontal */
  gap: 20px;

  align-items: flex-end;   
}
.hero-left {
  flex: 1;
  max-width: 570px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-right h1 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.2;        
  letter-spacing: 0;
  margin-top: 12px;
  color: #111827;
  margin-bottom:20px;
  max-width: 570px;       
  margin: 16px 0;
}

.breadcrumb {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  min-width: 240px;
  font-size: 13px;
}
.breadcrumb span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: #4D545C;
  
}
.breadcrumb .separator {
  color: #9ca3af; /* lighter gray */
 
}
.breadcrumb .current {
  font-weight: 600;
  color:#0D0D0D;
}
.tick-icon {
  width: 13px;
  height: 13px;
  margin-top: 1.5px;
  margin-left: 1.5px;
}
.features-list li {
  display: flex;
  align-items: center;   /* vertical alignment */
  gap: 8px;   
  margin-bottom: 10px;           /* space between tick & text */
}
.features-list span {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #374151;
}
.tick-icon {
  transform: translateY(1px);
}
.price-box {
  display: flex;
  flex-direction: column;

  max-width: 570px;
  width: 100%;

  padding: 16px 20px;
  gap: 16px;

  border: 1px solid #CFD1D4;
  border-radius: 10px;

  background: #ffffff;
  box-shadow: 0px 6px 16px rgba(88, 92, 95, 0.3);

}
.tags-row {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
}

.tag-text {
  font-size: 13px;
  font-family: 'Inter', sans-serif;
  color: #92400E;
  font-weight: 500;
}
.tag {
  display: inline-flex;
  align-items: center;

  padding: 6px 12px;
  border-radius: 6px;

  font-size: 13px;
  color: #92400E;   

  background: #FEF3C7; 
}
.cert-footer {
  font-size: 12px;
  color: #6b7280;
}
/* CERT FOOTER CONTAINER */
.cert-footer {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

/* LABEL */
.cert-label {
  font-size: 13px;
  color: #6b7280;
}

/* TAG CONTAINER */
.cert-tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

/* GRAY TAG */
.tag-gray {
  background: #F3F4F6;
  color: #000000;

  padding: 6px 12px;
  border-radius: 6px;

  font-size: 13px;
  font-weight: 500;
}
.cert-box {
  display: inline-flex;
  align-items: center;
  gap: 10px;

  height: 32px;
  width: fit-content;
  padding: 8px 12px;

  background: #F7F8F9;
  border: 1px solid #e5e7eb;
  border-radius: 6px;

  font-family: 'Inter', sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: #000000;
}
.primary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  height: 52px;
  padding: 0 20px;   /* left-right padding */

  background: #2B3990;
  color: #ffffff;
  border: none;
  border-radius: 12px;

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.3s ease;
}
.primary-btn:hover {
  background: #1f2a6b;   
  transform: translateY(-1px);
}
.secondary-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  height: 52px;
  padding: 0 20px;   /* left-right padding */

  background: none;
  color: #262A2E;

  border: 1px solid #2B3990;
  border-radius: 12px;

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.3s ease;
}
/* TRUSTED SECTION */

/* FULL WIDTH SECTION */
.trusted {
  width: 100%;
  padding: 40px 0;

  position: relative;
  overflow: hidden;
}
.trusted::before {
  content: "";
  position: absolute;
  /* inset: 0; */

  background-image: url('./images/backgroundImage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  z-index: 0; 
}
.trusted::after {
  content: "";
  position: relative;
  inset: 0;

  background: rgba(255, 255, 255, 0.6);

  z-index: 1; 
}
/* CENTER CONTENT */
/* TEXT */
.trusted-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500; 
  color: #878B94; 

  margin-bottom: 24px;
}

/* LOGOS */
.trusted-logos {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  gap: 32px; 
}
.trusted-logos img {
  height: 40px;
  object-fit: contain;
  filter: grayscale(50%) brightness(0.7);
  transition: all 0.3s ease;
  margin-bottom: 40px;
}
.trusted-logos img:hover {
  opacity: 1;
  transform: scale(1.05);
}
/* ================= SPECS SECTION ================= */

.specs-section {
  background: #111827;
  color: #fff;
   padding: 80px 0 120px;
}
.specs-header {
  margin-bottom: 40px;
}

.specs-header h2 {
  font-family: 'Urbanist', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2; 
  max-width: 800px;
}

.specs-header p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1.6; /* 160% */
  letter-spacing: -0.006em;
  max-width: 800px;
  margin-top: 16px;
  color: #9ca3af; 
}

/* Table */
.specs-table {
  margin-top: 40px;
  background-color: #111827; 
  border: 2px solid #374151;
  border-radius: 16px; 
  overflow: hidden;
  
}

.table-row {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px; 
  border-bottom: 1px solid #1F2937;
  align-items: center;
  box-shadow: 0 4px 12px rgba(27, 28, 29, 0.04); 
}
.table-row div {
  font-family: 'Inter', sans-serif;
  font-size: 16px;       
  font-weight: 500;       
  line-height: 24px;      
  letter-spacing: 0;     
  color: #e2e8f0;
  width: 50%;
}

.table-head {
  background: #374151;
  font-size: 12px;
  font-weight: 600;
  color: #cbd5e0;
}

.table-row:last-child {
  border-bottom: none;
}
.table-row div:first-child {
  max-width: 300px; 
}


/* Button */
.specs-btn {
  text-align: center;
  margin-top: 30px;
}
.specs-btn button {
  display: inline-flex; 
  align-items: center;
  justify-content: center; 

  font-family: 'Inter', sans-serif;
  font-size: 14px;
  font-weight: 700;

  width: 325px;
  height: 52px;

  border-radius: 24px;
  letter-spacing: -0.006em;

  border: 1px solid #FFFFFF;

  background-color: #111827; 
  color: #ffffff;

  padding: 16px 20px;
  gap: 8px;

  cursor: pointer;
}

.specs-btn button:hover {
  background: #3b82f6;
}
.country-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.flag-icon {
  width: 20px;
  height: 14px;
  object-fit: cover;
  border-radius: 2px;
}\.features {
  padding: 80px 0;
  background: #f9fafb;
}

.features-header h2 {
  font-family: 'Urbanist', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;
}

.features-header p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #6b7280;
  margin-top: 12px;
  max-width: 700px;
}

/* GRID */
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 24px;
  margin-top: 40px;
}
.feature-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 24px;
  border: 1px solid #e5e7eb;
  transition: all 0.3s ease;
}

.feature-card:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.05);
  transform: translateY(-4px);
}
.feature-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 12px;
}

.feature-card h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.feature-card p {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.5;
}
.features-btn {
  text-align: center;
  margin-top: 40px;
}

.features-btn button {
  background: #2B3990;
  height: 52px;
  width: 174px;
  color: white;
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  margin-top: 4px;
}
/*Frequently Asked Question*/
.faq-wrapper {
  display: flex;
  flex-direction: column;
  gap: 56px;
  border-bottom: 1px solid #e5e7eb;
  padding: 40px 0;
}
.faq-title {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #111827;
  margin-bottom: 24px;
}

.faq-title span {
  color: #2B3990;
}
.faq-item {
  background-color: #ffffff;              
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  cursor: pointer;
  transition: all 0.3s ease;

  /* Shadow */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}
.faq-answer {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.6px;
  color: #535A61;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item.active .faq-answer {
  max-height: 200px; 
}

.faq-item.active .faq-answer {
  display: block;
}
.faq-answer {
  margin-top: 8px;
}
.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.icon {
  transition: transform 0.3s ease;
}

.faq-item.active .icon {
  transform: rotate(180deg);
}
.faq-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
.faq-item:hover .faq-answer {
  max-height: 200px;
}
.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.cta-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #F7F8F9;
  border: 1px solid #CFD1D4;
  border-radius: 10px;

  padding: 20px;
  width: 100%;
}
.cta-left h3 {
  font-family: 'Urbanist', sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #0D0D0D;
}

.cta-left p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #262A2E;
  letter-spacing: 0.0006em;
  
}
.cta-right {
  display: flex;
  flex-direction: column; 
  gap: 12px;              /* space between input + button */
}

.cta-right input {
  padding: 10px;
  border: 1px solid #e5e7eb;
  border-right: none; /* remove border between input + button */
  border-radius: 8px 0 0 8px; /* left rounded only */
  outline: none;
  font-size: 14px;
}
.cta-right button {
  background: #2B3990;
  color: #fff;
  border: 1px solid #2B3990;
  padding: 12px 16px;
  border-radius: 10px; /* right rounded only */
  cursor: pointer;
}
/*--------------Fishnet Manufacturing Section--------------*/
.applications-header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 56px;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 👈 important */
  gap: 16px;
}
.applications-header h2 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: 0;
  color: #111827;

  margin-bottom: 12px;
}
.applications-header p {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 160%;
  color: #4D545C;
  font-style: normal;
   margin-bottom: 56px; 
   justify-content: flex-start;
   flex-direction: row-reverse;

  max-width: 620px; /* main control */
}

/* arrows on top-left */
.carousel-controls {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}
.header-left h2 {
  font-family: 'Urbanist', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 12px;
}
.header-left p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #6b7280;
}
.header-right {
  display: flex;
  gap: 10px;
}

.header-right button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background: white;
  cursor: pointer;
}
.carousel-controls button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}
.applications-slider {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  scroll-behavior: smooth;

  scrollbar-width: none; 
}

.applications-slider::-webkit-scrollbar {
  display: none;
}
.app-card {
  width: 420px;
  height: 420px;

  border-radius: 32px;
  overflow: hidden;

  position: relative;
}
.app-card img {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
}


 .overlay {
  position: absolute;
  bottom: 0;        
  left: 0;
  width: 100%;

  padding: 32px 24px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  color: white;
  z-index: 2;
}
.app-card::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.75),  /* strong at bottom */
    rgba(0, 0, 0, 0.3),
    transparent
  );

  z-index: 1;
}
.app-card.active {
  border: 3px solid #facc15;
 
}
.carousel-controls {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
}

.carousel-controls button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid #e5e7eb;
  background: white;
  cursor: pointer;
}
/* ================= Manufacturing sections================= */

.process {
  padding-top: 56px;  
}
.process-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 40px;
}

.process-header h2 {
  color: #0D0D0D;
  font-family: 'Urbanist', sans-serif;
  font-size: 44px;
  font-weight: 700;
  max-width:800px;
  width: 800px;
  height:106px;
  line-height: 120%;
}

.process-header p {
  line-height: 160%;
  color: #4D545C;
  font-size: 18px;
  font-weight: 400;
}

.process-tabs {
  display: flex;
  justify-content: center;
  gap: 12px;

  flex-wrap: nowrap;
  overflow-x: auto;
}
.process-body {
  display: flex;
  gap: 40px;
  align-items: center;
}
.process-tabs::-webkit-scrollbar {
  display: none;
}

.process-tabs {
  scrollbar-width: none;
}

.tab {
  padding: 10px 18px;
  border-radius: 999px;
  border: 1px solid #e5e7eb;
  background: #f9fafb;
  cursor: pointer;
  position:relative;
  z-index:2;
}

.tab.active {
  background: #1e3a8a;
  color: white;
}
.process-content {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;

  background: #f9fafb;
  border-radius: 24px;
  padding: 40px;
  border: 1px solid #e5e7eb;

  flex-wrap: nowrap;   /* prevents breaking */
}
.process-left {
  flex: 1;
  min-width: 400px;  /* prevents collapsing */
}

.process-left h3 {
  font-size: 24px;
  margin-bottom: 12px;
}

.process-left p {
  font-family:'Inter', sans-serif;
  font-weight: 400;
  font-size:18px;
  line-height:1.6;
  letter-spacing: -0.006em;
  color: #6b7280;
  margin-bottom: 16px;
  max-width: 500px;
}

.process-left ul {
  list-style: none;   
  padding: 0;
  margin: 0;
}
.process-left li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
  font-size: 15px;
  color: #111827;
}
.process-right {
  flex: 1;
  min-width: 400px;  
  position: relative;
}

.process-right img {
  width: 100%;
  height: auto;
  border-radius: 16px;
  display: block;
}
/* arrows */
.process-right .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: white;
  cursor: pointer;
}

.process-right .left {
  left: 10px;
}

.process-right .right {
  right: 10px;
}

/* LINE BEHIND TABS */

.tabs-line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70%;              /* control line length */
  height: 1px;
  background: #e5e7eb;
  transform: translate(-50%, -50%);
  z-index: 0;
}
.tab.active {
  background: #2f3a8f; /* deep blue */
  color: white;
  border: none;
}
.testimonials-header {

  font-size: 44px;
  font-weight:700;
  
  text-align: center;
  max-width: 700px;
  margin: 0 auto 56px;
}

.testimonials-header h2 {
  font-family: 'Urbanist', sans-serif;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 700;
  color:#0D0D0D;
}

.testimonials-header p {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #4D545C;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  padding: 32px;
}
.testimonial-card {
  background: #F7F8F9;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  gap: 16px;

  transition: all 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.05);
}
.quote {
  font-size: 32px;
  color: #2B3990;
  font-weight: 700;
  line-height: 1;
}
.testimonial-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
}

.testimonial-card p {
  font-size: 14px;
  color: #6b7280;
  line-height: 1.6;
}
.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: auto;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #E1E3E8;
}

.user strong {
  font-size: 14px;
}

.user span {
  font-size: 12px;
  color: #6b7280;
}
.container {
  max-width: 1240px;
  margin: auto;
  padding: 40px 20px;
}

/* HEADER */
.portfolio-header {
  text-align: center;
  margin-bottom: 40px;
}

.portfolio-header h2 {
  font-size: 32px;
  font-weight: 600;
}

.portfolio-header p {
  color: #6b7280;
  margin-top: 10px;
}

/* CARDS */
.portfolio-cards {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

/* CARD */
.card {
  background: #f9fafb;
  padding: 20px;
  border-radius: 16px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ACTIVE CARD (middle one) */
.card.active {
  border: 2px dashed #3b82f6;
}

/* IMAGE */
.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
  margin: 16px 0;
}

/* BUTTON */
.card button {
  padding: 10px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  background: white;
  cursor: pointer;
}

/* CTA */
.portfolio-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1240px;
  width: 100%;
  margin: 40px auto 0;

  padding: 20px;

  border: 1px solid #CFD1D4;
  border-radius: 10px;

  background-color: #FFFFFF;
}
.portfolio-cta h4 {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}
.phone-icon {
  width: 16.25px;
  height: 16.25px;
  object-fit: contain;
}
.portfolio-cta h4 span {
  color: #2563eb; 
}

.portfolio-cta p {
  font-size: 14px;
  color: #6B7280;
  margin-top: 6px;
}

.cta-btn {
  display: flex;
  align-items: center;
  gap: 8px; 

  background-color: #2B3A8F;
  color: #FFFFFF;

  padding: 10px 18px;
  border-radius: 8px;
  border: none;

  font-size: 14px;
  cursor: pointer;
}
.resources {
  padding: 60px 20px;
}

/* HEADER */
.resources-header h2 {
  font-size: 32px;
  font-weight: 600;
}

.resources-header h2 {
  font-family: 'Urbanist', sans-serif;
  text-align: center;
  margin-bottom: 40px;
  font-size:44px;
  font-weight: 700;
  color:#0D0D0D;
  line-height:1.2;
}

.resources-header p {
  font-family: 'Inter', sans-serif;
  color: #4D545C;
  line-height: 1.6;
  font-size: 18px;
  font-weight: 400;

  text-align: center;

  margin-top: 12px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* LIST BOX */
.resources-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  max-width: 1240px;
  width: 100%;

  padding: 20px;

  border: 1px solid #CFD1D4;
  border-radius: 10px;

  background-color: #FFFFFF; 

  margin: 0 auto;
}
/* ITEM */
.resource-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:1px solid #CFD1D4; */
  color:#FFFFFF;
  padding: 12px 0;
}
/* remove last border */
.resource-item:last-child {
  border-bottom: none;
}

/* TEXT */
.resource-item span {
  font-size: 14px;
  color: #111827;
}

/* LINK */
.resource-item a {
  font-size: 14px;
  color: #2B3990;
  text-decoration: none;
  font-weight: 500;
}

.resource-item a:hover {
  text-decoration: underline;
}

.resource-item {
  transition: 0.2s;
}

.resource-item:hover {
  background: #f9fafb;
}
.contact-section {
  padding: 60px 20px;
}

.contact-container {
  display: flex;
  flex-direction: row; /* Horizontal */

  justify-content: space-between;
  align-items: center;

  max-width: 1240px;
  width: 100%;
  margin: 0 auto;

  gap: 120px; 

  padding: 40px;

  border-radius: 32px;

  background: #2B3A8F;
}
.contact-left h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  font-family: 'Urbanist', sans-serif;
  color:#FFFFFF;
}

.subtext {
  font-style: 'Inter', sans-serif;
  margin-top: 16px;
  color: #FFFFFFCC;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 16px;
}

.contact-left hr {
   font-style: 'Inter', sans-serif;
  color:#FFFFFFCC;
  margin-bottom: 16px;
  margin: 20px 0;
  border: none;
  border-top: 1px solid rgba(255,255,255,0.3);
  font-size: 14px;
  font-weight: 700;
}

.info-text {
  font-size: 14px;
  color: #D1D5DB;
}

.info-text a {
  color: #FFFFFF;
  text-decoration: underline;
}
.contact-form {
  background: #F7F8F9;
  height:360px;
  width: 420px;
  padding: 32px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form h3 {
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #D1D5DB;
  font-size: 14px;
}

/* Phone input */
.phone-input {
  display: flex;
  align-items: center;
  border: 1px solid #D1D5DB;
  border-radius: 8px;
  overflow: hidden;
}

.phone-input span {
  padding: 10px;
  background: #E5E7EB;
}

.phone-input input {
  border: none;
  flex: 1;
  padding: 10px;
}
.contact-form button {
  background: #111827;
  color: #FFFFFF;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* the responsive design */
/* MOBILE */
@media (max-width: 768px) {
  .footer {
    padding: 40px 16px;
  }

  .footer-top {
    flex-direction: column;
    gap: 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 30px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 16px;
    margin-bottom:10px;
    justify-content: center;
    text-align: center;
  }

  .hero-right h1 {
    font-size: 32px;
    line-height: 1.3;
  }

  .hero-layout {
    display: flex;
    flex-direction: column; /* IMPORTANT for mobile */
    gap: 24px;
  }

  .resource-item {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

}
.footer {
  background: #F9FAFB;
  padding: 60px 20px;
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border: 1px solid #CFD1D4;
  border-radius: 12px;

  padding: 20px;
  margin-bottom: 40px;
}

.footer-tagline {
  font-size: 16px;
}

.footer-tagline span {
  color: #2563EB;
  font-weight: 600;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-links h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-links p {
  font-size: 14px;
 
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-links p:hover {
  color: #111827;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-links h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer-links p {
  font-size: 14px;
  color: #6B7280;
  margin-bottom: 8px;
  cursor: pointer;
}

.footer-links p:hover {
  color: #111827;
}
.social-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 1px solid #E5E7EB;
  padding-top: 20px;
}

.footer-bottom p {
  font-size: 12px;
  color: #6B7280;
}

.footer-bottom-links {
  display: flex;
  gap: 16px;
  font-size: 12px;
  color: #6B7280;
}
.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 16px;
}
.contact-info {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-top: 2px;
}
.contact-item img {
  width: 18px;
  height: 18px;
  margin-top: 4px;
  color: #2B3990; 
}
.contact-item p {
  max-width: 270px;  
  font: 400 12px/16px 'Inter', sans-serif;
  letter-spacing: -0.006em;
  color: #6b7280;
}

.contact-card h4 {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.contact-divider {
  height: 1px;
  background: #e5e7eb;
  margin: 20px 0;
}
.contact-social {
  display: flex;
  gap: 16px;
}

.contact-social img {
  width: 16px;
  height: 16px;
  cursor: pointer;
}